*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header1{
    background-color: rgb(59, 59, 59);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primerDiv{
    display: flex;
    margin-left: 5rem;
    align-items: center !important;
}

#imgCodo{
    height: 3rem;
    width: 5rem;
}

p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-top: 1rem !important;
}

a{
    color: rgb(170, 170, 170) !important;
    text-decoration: none !important;
    margin-right: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

a:hover{
    color: white !important;
}

#verde{
    color: rgb(1, 182, 1) !important;
}

.carousel-item img {
    height: 450px;
    object-fit: cover;
    filter: brightness(40%);
}

.tituloCarr{
    color: white !important;
}

.pCarrousel{
    padding: 0 13rem;
}

.button1{
    background-color: transparent;
    padding: 0.5rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.664);
    border-radius: 0.3rem;
    margin-right: 0.3rem;
}

.button2{
    background-color:rgb(3, 133, 3);
    padding: 0.5rem 0.7rem;
    color: white;
    border: 1px solid rgb(3, 133, 3) ;
    border-radius: 0.3rem;
}

.carousel-caption{
    right: 0% !important;
    left: 30% !important;
}

.oradores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

h5{
    font-weight: 100;
}

.cardsOradores{
    display: flex;
    gap: 2rem;
}

.card-text{
    color: black;
}

.botonesOradores{
    display: flex;
}

.botonJS{
    background-color: rgb(255, 230, 0);
    font-size: 0.6rem;
    font-weight: 900;
    padding:0 0.1rem;
    border: 1px solid rgb(255, 230, 0);
    border-radius: 0.3rem;
    margin-right: 0.5rem;
}

.botonReact{
    background-color: rgb(97, 190, 221);
    font-size: 0.6rem;
    font-weight: 900;
    padding: 0.1rem;
    border: 1px solid rgb(97, 190, 221) ;
    border-radius: 0.3rem;
}

.botonNg{
    background-color: gray;
    font-size: 0.6rem;
    font-weight: 900;
    padding:0 0.1rem;
    border: 1px solid gray;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
}

.botonStu{
    background-color: red;
    font-size: 0.6rem;
    font-weight: 900;
    padding:0 0.1rem;
    border: 1px solid red;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
}

.contenedor{
    background-color: rgb(59, 59, 59);
}

.card-body2{
    padding: 1rem;
}

.card-title2{
    color: white;
}

.card-text2{
    color: white;
}

#botonCard2{
    background-color: transparent;
    color: white;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 0.3rem;
}

h5{
    font-weight: 400 !important;
    color: rgb(73, 73, 73) !important;
}

#charla{
    font-size: 1.1rem !important;
    font-weight: 400 !important;
    color: rgb(73, 73, 73) !important;
    text-decoration-line: underline !important;
    text-decoration-style: dotted !important;
    text-decoration-color: black !important;
    margin: 0 !important;
}

.dosCajitas{
    display: flex;
}

#formulario1{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 1rem;
}

.caja1{
    width: 30.3rem;
}

.formTexto{
    color: gray;
    font-size: 0.8rem;
    margin-top: 0 !important;
    margin-left: 0.2rem !important;
}

.btn{
    width: 60.6rem !important;
    background-color: rgb(3, 133, 3) !important;
}

.btn1{
    background-color: rgb(3,133,3) !important;
    border: 0rem;
    color: white !important;
    font-size: 1rem !important;
}

footer{
    background-color: rgb(30, 57, 87);
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

footer a{
    color: white !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .header1{
        width: 100%;
        justify-content: space-evenly;
    }

    .primerDiv{
        margin-right: 5rem;
        margin-left: 2rem;
    }

    .headerA{
        display: flex;
    }

    .carousel-item img {
        height: 250px;
        object-fit: cover;
    }

    .pCarrousel{
        font-size: 0.8rem;
        padding: 0;
    }

    .button1{
        font-size: 0.8rem;
    }

    .button2{
        font-size: 0.8rem;
    }

    .cardsOradores{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    h5{
        font-size: 0.8rem !important;
    }

    #charla{
        font-size: 0.8rem !important;
    }


    .dosCajitas{
        flex-direction: column;
    }

    .caja1{
        margin-top: 0.3rem;
    }

    .col-md-6{
        width: 100% !important;
    }

    .textArea{
        width: 30rem;
    }

    .btn{
        width: 30rem !important;
    }

    footer{
        flex-wrap: wrap;
        align-items: center;
        padding: 1rem;
    }

    footer a{
        margin-top: 0.5rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {

    .header1{
        flex-direction: column;
    }

    .primerDiv{
        margin-right: 4.5rem;
    }

    .headerA{
        flex-direction: column !important;
        margin-left: 0.5rem;
    }

    .pCarrousel, .tituloCarr{
        visibility: hidden;
    }

    .cardsOradores{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .card-text2{
        font-size: 0.8rem !important;
    }

    #botonCard2{
        font-size: 0.8rem;
    }

    h5{
        font-size: 0.8rem !important;
        padding: 0.5rem;
    }

    #charla{
        font-size: 0.8rem !important;
    }

    .dosCajitas{
        flex-direction: column;
    }

    .caja1{
        width: 15rem;
    }

    .textArea{
        width: 15rem;
    }

    .btn{
        width: 15rem !important;
    }

    footer{
        padding: 1rem;
        flex-wrap: wrap;
        align-items: center;
    }
}